@import "../abstracts/mixins";

body {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.container {
  // min-width: 769px;
  max-width: 1360px;
  width: 100%;

  margin-top: 40px;
  padding-left: 30px;
  padding-right: 30px;
  // border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
