body {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  // min-width: 769px;
  width: 100%;
  margin: 20px;
  // border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
