body {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  // min-width: 769px;
  max-width: 1440px;
  margin-top: 20px;
  margin: auto;
  margin-top: 40px;
  // border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
