.paintingList {
  width: 100%;
  column-count: 4;
  column-gap: 30px;
}

@media screen and (max-width: 1200px) {
  .paintingList {
    column-count: 2;
  }
}

@media screen and (max-width: 720px) {
  .paintingList {
    column-count: 1;
  }
}
