@import "../../styles/abstracts/variables";

.slide-description {
  display: grid;
  //   grid-auto-flow: column;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(10, 10%);
  // align-content: start;
  align-items: start;
  position: relative;
}

.description__year {
  grid-column: 2 / 11;
  grid-row: 1 / 3;

  width: 100%;
  height: auto;

  display: flex;
  align-items: flex-start;

  position: relative;

  p {
    color: $light-gray;
    font-size: 160px;
    font-weight: bold;
    // line-height: 150px;

    margin: 0;

    z-index: 2;

    position: absolute;
    top: -35px;
    left: -20px;
  }
}

.description__main {
  grid-column: 1 / 9;
  grid-row: 4 / 10;

  width: 350px;
  position: relative;

  p {
    color: $dark-gray;
    line-height: 28px;
    font-weight: bold;
    background-color: transparent;
    align-self: center;

    position: absolute;
    top: -80px;
    left: -20px;
  }
  z-index: 3;
}

.slide-home-link {
  grid-column: 1 / span 4;

  position: absolute;
  bottom: -50px;
  left: -20px;

  text-decoration: underline;
  &:hover {
    cursor: pointer;
    color: rgb(56, 41, 41);
  }
}
