@import "../../styles/abstracts/variables";
@import "../../styles/abstracts/mixins";

.slide-description {
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(10, 10%);
  align-items: start;
  position: relative;
}

.description__year {
  grid-column: 11 / 3;
  grid-row: 1 / 4;

  width: 100%;
  height: 100%;

  position: relative;
  height: 100%;

  p {
    color: $light-gray;
    font-size: 200px;
    font-weight: bold;

    margin: 0;
    z-index: 2;

    position: absolute;
    top: -35px;
    left: -20px;
  }
}

.description__main {
  grid-column: 2 / 10;
  grid-row: 4 / 10;

  width: 350px;
  position: relative;

  p {
    color: $dark-gray;
    line-height: 28px;
    font-weight: bold;
    background-color: transparent;
    align-self: center;

    position: absolute;
    top: -80px;
    left: -20px;
  }
  z-index: 3;
}

.slide-home-link {
  grid-column: 2 / span 4;
  grid-row: 11 / span 1;

  position: absolute;
  bottom: -50px;
  left: -20px;

  text-decoration: underline;
  &:hover {
    cursor: pointer;
    color: rgb(56, 41, 41);
  }
}

@media screen and (max-width: 1200px) {
  .slide-description {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);
  }

  .description__year {
    height: auto;
    grid-column: 2 / span 5;
    grid-row: 1 / span 3;

    display: flex;
    justify-content: center;
    align-items: center;

    p {
      position: static;
    }
  }

  .description__main {
    width: 450px;
    height: 100%;
    grid-column: 3 / span 8;
    grid-row: 3 / span 5;
    position: static;

    p {
      position: static;
    }
  }

  .slide-home-link {
    position: static;
    grid-column: 3 / span 3;
    grid-row: 10 / span 1;
  }
}

@media screen and (max-width: 720px) {
  .description__year {
    grid-column: 9 / 5;
    grid-row: 1 / span 3;
    p {
      font-size: 100px;
    }
  }

  .description__main {
    position: static;
    width: 100%;
    height: 100%;
    grid-column: 1 / 11;
    grid-row: 3 / 8;

    p {
      position: static;
      margin-top: 0;
    }
  }

  .slide-home-link {
    position: static;
    grid-column: 1 / span 6;
    grid-row: 11 / span 1;
  }
}
