.slide-wrapper {
  display: grid;
  grid-template-columns: 60% 40%;
  // grid-template-rows: 90% 10%;
  gap: 50px;
  // align-content: center;

  width: 100%;
  height: 100%;
  margin-top: 3rem;

  // position: relative; // SlideFooter position: absolute
}
